body {
    background-color:#243a6c;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-size: 100%;
}

h1 {
    font-size: 50px;
    font-weight: 600;
    margin-top: 15px;
}

h2 {
    font-size: 25px;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 20px;
}


h3 {
    font-size: 17px;
    font-weight: 600;
    line-height: 56px;
    text-transform: uppercase;
}

.profile-pic {
    padding-top: 30px;
    max-width: 250px;
    display: block;
    margin:0 auto
}

a {
    font-weight: 600;
    line-height: 42px;
    color: #ffffff;
    text-decoration: none;
}

a:hover {
    color: #45bf82;
}

.button {
    background-color: #45bf82;
    color: #ffffff;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 12px 24px;
    border: none;
    border-radius: 37px;
    align-self: flex-end;
    display: inline-block;
    box-shadow: 0px 15px 10px -10px rgba( 0,0,0,0.6);
    transition: all .7s;
    text-decoration: none;
}

.button:hover {
    background-color: #008060;
    color: white;
    box-shadow: 0px 45px 20px -30px rgba( 0,0,0,0.2);
    transform: translateY(-20px);
    
}

.idLinkedInIcon {
    background-color:rgb(0, 102, 170);
    border-radius:6px;
    color:white;
    cursor:pointer;
    display:inline-block;
    font:bold 52px Arial, Helvetica, sans-serif;
    height:60px;
    margin-top:1px;
    text-align:center;
    width:60px;
}

#idLinkedInIcon:hover {
    background-color:#06d;
}

.d-block {
    min-height: 600px;
    background-size: cover;
    background-position: center center;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.align-center {
    text-align: center;
}
.hash-list {
    display: block;
    padding: 0;
    margin: 0 auto;
}

@media (min-width: 768px){
    .hash-list.cols-3 > li:nth-last-child(-n+3) {
        border-bottom: none;
    }
}
@media (min-width: 768px){
    .hash-list.cols-3 > li {
        width: 33.3333%;
    }
}
.hash-list > li {
    display: block;
    float: left;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.pad-30, .pad-30-all > * {
    padding: 30px;
}
img {
    border: 0;
}
.mgb-20, .mgb-20-all > * {
    margin-bottom: 20px;
}
.wpx-100, .wpx-100-after:after {
    width: 100px;
}
.img-round, .img-rel-round {
    border-radius: 50%;
}
.padb-30, .padb-30-all > * {
    padding-bottom: 30px;
}

.mgb-40, .mgb-40-all > * {
    margin-bottom: 40px;
}
.align-center {
    text-align: center;
}
[class*="line-b"] {
    position: relative;
    padding-bottom: 20px;
    border-color: #E6AF2A;
}
.fg-text-d, .fg-hov-text-d:hover, .fg-active-text-d.active {
    color: #222;
}
.font-cond-b {
    font-weight: 700 !important;
}

.shopify {
    width: 20%;
    float: left;
    margin-right: 70px;
  }

  .facebook-ads {
    width: 20%;
    float: right;
    margin-right: 70px;
  }

  .google-ads {
    width: 20%;
    float: left;
    margin-right: 70px;
  }